/* STATS PAGE */

#stats-wrapper table {
	background:#fff;
	width:880px;
	margin-top:30px;
}

#stats-wrapper table td, #stats-wrapper table th {
	padding:15px;
	border-bottom:1px solid #eee;
}

#stats-wrapper table th {
	font-weight:bold;
	color:#fff;
	background-color:#146095;
	text-transform: uppercase;
	font-size:0.8em;
}